[submodule "eda-infra-rs"]
	path = eda-infra-rs
	url = https://github.com/gzz2000/eda-infra-rs.git
[submodule "benchmarks/dataset"]
	path = benchmarks/dataset
	url = https://github.com/ChipFlow/GEM-dataset.git
[submodule "sky130_fd_sc_hd"]
	path = sky130_fd_sc_hd
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd.git
